<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key = "consumer_key" value = ""/>
		<add key = "consumer_key_secret" value = ""/>
		<add key = "access_token" value = ""/>
		<add key = "access_token_secret" value = ""/>

		<add key = "terms_to_retweet" value = ""/>
		<add key = "terms_not_to_retweet" value = ""/>

		<add key = "users_to_retweet" value = ""/>
		<add key = "users_not_to_retweet" value = ""/>

		<add key = "languages_to_retweet" value = ""/>
		<add key = "languages_not_to_retweet" value = ""/>

		<add key = "log_level" value = "ALL"/>

		<add key = "smtp_server" value = ""/>
		<add key = "smtp_port" value = ""/>
		<add key = "email_from" value = ""/>
		<add key = "email_to" value = ""/>
		<add key = "email_password" value = ""/>

		<add key = "flush_at_age" value = "600"/>
		<add key = "flash_at_quantity" value = "10"/>
	</appSettings>
</configuration>